<p style="text-align: left; color: lightgrey;">
  <a href="{{site.baseurl}}/">Home</a> |
  <a href="https://github.com/iraf-community/iraf/releases/latest/">Download</a> | 
  <a href="https://github.com/iraf-community/iraf/blob/master/RELEASE.md">Release notes</a> |
  <a href="https://github.com/iraf-community/iraf/blob/master/INSTALL.md">Installation</a> |
  <a href="{{site.baseurl}}/external">Packages</a> |
  <a href="https://github.com/iraf-community/x11iraf">X11IRAF</a> |
  <a href="http://iraf.noao.edu">NOAO IRAF</a>
</p>
